@model List<ProductModel>

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <p></p>
</div>
<a asp-action="ShowFormAddProduct" asp-controller="Product">Add new product</a>
<div>
    <table border="1">
        <tr>
            <th>Product</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>Quantity Per Unit</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
            <th>Units On Order</th>
            <th>Reorder Level</th>
            <th>Discontinued</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <th>@item.ProductName</th>
                <th>@item.SupplierName</th>
                <th>@item.CategoryId</th>
                <th>@item.QuantityPerUnit</th>
                <th>@item.UnitPrice</th>
                <th>@item.UnitsInStock</th>
                <th>@item.UnitsOnOrder</th>
                <th>@item.ReorderLevel</th>
                <th>@item.Discontinued</th>
                <th>
                    <a asp-action="ShowFormEditProduct" asp-controller="Product" asp-route-productId="@item.ProductId">Edit</a>
                </th>
            </tr>
        }
    </table>
</div>

